@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}


body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.container{
  width:min(100%,1020px);
  margin-inline:auto;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  #__next {
    @apply contents;
  }

  html {
    @apply h-full scroll-smooth antialiased;
  }

  body {
    @apply flex h-full flex-col text-stone-600;
  }

  main {
    @apply grow;
  }

  .section {
    @apply py-10;
  }


  .title {
    @apply font-bold tracking-tight;
  }
}
